@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    font-size: 16px;
    --text-light: #f2f2f2;
    --text-dark: #121212;
}

body {
    background: black;
    color: var(--text-light);
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login {
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px;
}

.login > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__input {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: var(--text-dark);
    color: var(--text-light);
    outline: none;
    border-radius: 5px;
}

.login__input:focus {
    outline: 2px solid var(--text-light);
}

.login__button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: var(--text-dark)
}

.login__button:hover {
    background-color: white;
}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__messages {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat__form {
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: var(--text-light);
    font-size: 1rem;
}

.chat__button {
    border: none;
    background: none;
    color: var(--text-light);
    cursor: pointer;
}

.chat__button > span {
    font-size: 1.8rem;
}

.chat__messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
}

.user--joined {
    align-self: center;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.message--self {
    background-color: var(--text-light);
    color: var(--text-dark);
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.message--other {
    background-color: #333;
    color: var(--text-light);
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;
}

.message--sender {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.btn-wallpaper {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 32px !important;
    cursor: pointer;
}

.wallpapers {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: gray;
    position: absolute;
    top: 0;
}

.wallpapers h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 50px 0 30px 0;
}

.wallpapers-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wallpaper-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    cursor: pointer;
    margin: 24px;
    border: 2px solid transparent;
}

.wallpaper-card:hover {
    border: 2px solid white;
}

.wallpaper-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 24px 24px 0 0;
}

.wallpaper-card p {
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    background-color: black;
    width: 100%;
    border-radius: 0 0 24px 24px;
    text-align: center;
    border-top: 1px solid rgb(75, 75, 75);
}

.btn-close {
    position: fixed;
    top: 6%;
    right: 2%;
    font-size: 32px !important;
    cursor: pointer;
}